.App {
  text-align: center;
}

.image {
  border: solid black;
  border-radius: 70px; 
  /* creates the border to be a circle aroudn the picture */
  margin: 40px;
}

.outsideBox{
  margin: 50px;
  border: solid black;
  width: 500px;
}


.insideBox{
  display: flex;
  border-bottom: solid grey;
  border-width: 1px;
  justify-content: center;
}

.contactInfoBox{
  display: flex;
  flex-direction: column;
}

